<div class="center hero-unit">
  <h1>Bureau de la nouvelle <br/> Organisation Très Secrète</h1>

  <h2>
    Cette page a été réalisée grâce au tutorial suivant :
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  </h2>

  <%= link_to "OTS Wants You", sign_up_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
